<%= form_with(model: @number, url: [@contact, @number]) do |form|%>
    
    <%= form.label :number %><br>
    <%= form.text_field :number, class: 'form-control' %>
    
    <span id="helpBlock" class="help-block"></span>
  
    <p>
    <%= form.submit 'Submit', class: 'btn btn-primary btn-md btn-block' %>
    </p>
  
    
  
  
  <% end %>