<%= form_with model: @contact do |form|%>
 
  <%= form.hidden_field :user_id, value: current_user.id %>
  
  <%= form.label :name %><br>
  <%= form.text_field :name, class: 'form-control' %>

  <%= form.fields_for :numbers do |builder| %>
    <%= render 'number_fields', :f => builder %>
  <% end %>

  <%= link_to_add_fields "+ More Number", form, :numbers %>
  
  <span id="helpBlock" class="help-block"></span>

  <p>
  <%= form.submit 'Submit', class: 'btn btn-primary btn-md btn-block' %>
  </p>

  


<% end %>