//remove old validation messages
$(".notice").remove();
 
//display new validation messages
<% @contact.errors.each do |key, value| %>
    $("#helpBlock").append('<div class="notice"><%= escape_javascript(value)%></div>');
<% end %>