<% content_for :javascript_includes do %>
    <%= javascript_include_tag "contacts/edit" %>
<% end %>

<center><h1>Edit Contact</h1></center>
<%= render 'form' %>
<%= link_to 'Back', contacts_path, class: 'btn btn-default btn-md btn-block' %>

<span id="helpBlock" class="help-block"></span>
