<% content_for :javascript_includes do %>
    <%= javascript_include_tag "contacts/new" %>
<% end %>

<div class="row">
    <center><h1>New Contact</h1></center>
</div>

<%= render 'form' %>

<%= link_to 'Back', contacts_path, class: 'btn btn-default btn-md btn-block' %>

<span id="helpBlock" class="help-block"></span>