<% if user_signed_in? %>

  <div class="row table-responsive">
    <table class="table table-bordered text-centered">
      <tr>
        <th>Number</th>
      </tr>

      <% for number in @contact.numbers %>
        <tr>
          <td><%= number.number %></td>
          <!--td>
            <%#= link_to 'Edit', edit_contact_number_path(:id => number.id, :contact_id => number.contact_id) , class: 'btn btn-success btn-xs' %>
            <%#= link_to 'Delete', contact_number_path(:id => number.id, :contact_id => number.contact_id) , class: 'btn btn-danger btn-xs',
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </td-->
        </tr>
      <% end %>
    </table>
  </div>

<!--p>User Id : <%= current_user.id %><p-->
<!--p>User Role : <%= current_user.role %></p-->
<% end %>