<!DOCTYPE html>
<html>
  <head>
    <title>Final Exercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <p><center><h1>Phonebook</h1></center></p>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
